
body
{
    background-image: url("https://www.maxpixel.net/static/photo/2x/Psychic-Fortune-Tarot-Magic-Cards-Occult-4135257.jpg");
    
}

h1
{
color:white;
font-size: 50px;
}

.container
{
    width: 250px;
    background-color:white;
    padding: 10px;
    border: 2px solid gray;
    margin-top: 100px;
    margin-left: 100px;
}
p
{
    color: gray;
    line-height: 2;
}
